<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>


	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.revature.servlets.LoginServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>GetTicketsServlet</servlet-name>
		<servlet-class>com.revature.servlets.GetTicketsServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CreateTicketsServlet</servlet-name>
		<servlet-class>com.revature.servlets.CreateTicketsServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UpdateTicketsServlet</servlet-name>
		<servlet-class>com.revature.servlets.UpdateTicketsServlet</servlet-class>
	</servlet>



  <servlet-mapping>
  	<servlet-name>UpdateTicketsServlet</servlet-name>
  	<url-pattern>/ticket/update</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>CreateTicketsServlet</servlet-name>
  	<url-pattern>/ticket/create</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>GetTicketsServlet</servlet-name>
  	<url-pattern>/ticket/</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>


</web-app>
